/MyCustormRP/Assembly-CSharp.csproj
/MyCustormRP/.vscode
/MyCustormRP/Library
/MyCustormRP/Logs
/MyCustormRP/obj
/MyCustormRP/Temp
/MyCustormRP/Unity.CollabProxy.Editor.csproj
/MyCustormRP/Unity.PlasticSCM.Editor.csproj
/MyCustormRP/Unity.Rider.Editor.csproj
/MyCustormRP/Unity.Services.Core.Editor.csproj
/MyCustormRP/Unity.TextMeshPro.csproj
/MyCustormRP/Unity.TextMeshPro.Editor.csproj
/MyCustormRP/Unity.Timeline.csproj
/MyCustormRP/Unity.Timeline.Editor.csproj
/MyCustormRP/Unity.VisualStudio.Editor.csproj
/MyCustormRP/Unity.VSCode.Editor.csproj
/MyCustormRP/UnityEditor.TestRunner.csproj
/MyCustormRP/UnityEditor.UI.csproj
/MyCustormRP/UnityEngine.TestRunner.csproj
/MyCustormRP/UnityEngine.UI.csproj
/MyCustormRP/MyCustormRP.sln
MyCustormRP/UserSettings/EditorUserSettings.asset
MyCustormRP/Unity.RenderPipelines.Core.Editor.csproj
MyCustormRP/Unity.RenderPipelines.Core.Runtime.csproj
MyCustormRP/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/MyCustormRP/.idea
/MyCustormRP/*.csproj
